<div class="m-5">
  <h1>Welcome back, <%= @user.name %></h1>
  <h2> Your BMI is : <%= @user.bmi %> %</h2>
  <h2>Your baseline calories are: <%= @user.bmr %> calories</h2>
  <h2> To accomplish your goal, you need to lose: <%= @calories_per_day %> calories per day</h2>
</div>
