<div class="m-5">
  <h1> Your BMI is : <%= @bmi %> %</h1>
  <h1>Your baseline calories are: <%= @bmr %> calories</h1>
  <h1> To accomplish your goal, you need to lose: <%= @calories_per_day %> calories per day</h1>
</div>
